<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>BẢNG CỬU CHƯƠNG - <span th:text="${number}">0</span></h1>
    <table>
        <tr th:each="i : ${#numbers.sequence(1,10)}">
            <td th:text="${number}"></td>
            <td>x</td>
            <td th:text="${i}"></td>
            <td>=</td>
            <td th:text="${i*number}"></td>
        </tr>
    </table>
</body>
</html>