*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.details{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    border: 2px solid #dddddd;
}

.details p{
    margin-bottom: 10px;
}


.details p span{
    color: red;
}

.details .btn{
    margin-top: 20px;
}